{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="row">
        <div class="col-md-2 col-md-offset-4">
            <h2>COURSES</h2>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>NAME</th>
            <th>CODE</th>
        </tr>
        {% for course in courses %}
        <tr class="text-left">
            <td>{{ course.name }}</td>
            <td>{{ course.code }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block css %}
    <link href="{% static "user_manager/css/courses.css" %}" rel="stylesheet">
{% endblock %}
