{% extends "base.html" %}
{% load staticfiles %}
{% load add_class%}


{% block content %}
    <div class="row">
        <div class="col-md-4">

            <a class="btn btn-danger btn-circle left-text" href="{% url 'user_list' %}">
                <i class="glyphicon glyphicon-menu-left"></i>
            </a>
        </div>
        <div class="col-md-4">
            <h2>CREATE USER</h2>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <p class="btn btn-default round btn-message hidden" id="response"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <form class="create_user" id="form_create_user" action="" method="post" role="form">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="id_name"><span class="red">*</span> Name</label>
                        {{ form.name|add_class:"form-control round" }}
                    </div>
                    <div class="col-md-6 error-text"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="id_email"><span class="red">*</span>Email</label>
                        {{ form.email|add_class:"form-control round" }}
                    </div>
                    <div class="col-md-6 error-text"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="id_phone">Phone</label>
                        {{ form.phone|add_class:"form-control round" }}
                    </div>
                    <div class="col-md-6 error-text"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="id_mobile">Mobile phone</label>
                        {{ form.mobile|add_class:"form-control round" }}
                    </div>
                    <div class="col-md-6 error-text"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="id_status">Status</label>
                        {{ form.status|add_class:"form-control round" }}
                    </div>
                    <div class="col-md-6 error-text"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input class="btn btn-success round right-text" id="create_user" type="button" value="Create">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link href="{% static "user_manager/css/create_user.css" %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static "user_manager/js/create_user.js" %}"></script>
{% endblock %}