{% extends "base.html" %}
{% load staticfiles %}
{% load add_class%}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-danger btn-circle left-text" href="{% url 'user_list' %}">
                <i class="glyphicon glyphicon-menu-left"></i>
            </a>
        </div>
        <div class="col-md-4">
            <h2>CHANGE USER</h2>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <p class="btn btn-default round btn-message hidden" id="response"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <form class="edit_user" id="form_edit_user" action="" method="post">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="id_name"><span class="red">*</span> Name</label>
                        {{ form.name|add_class:"form-control round" }}
                    </div>
                    <div class="col-md-6 error-text"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="id_email"><span class="red">*</span>Email</label>
                        {{ form.email|add_class:"form-control round" }}
                    </div>
                    <div class="col-md-6 error-text"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="id_phone">Phone</label>
                        {{ form.phone|add_class:"form-control round" }}
                    </div>
                    <div class="col-md-6 error-text"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="id_mobile">Mobile phone</label>
                        {{ form.mobile|add_class:"form-control round" }}
                    </div>
                    <div class="col-md-6 error-text"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="id_status">Status</label>
                        {{ form.status|add_class:"form-control round" }}
                    </div>
                    <div class="col-md-6 error-text"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="left-text" for="id_courses">Courses</label>
                        {{ form.courses|add_class:"hidden"}}
                        <div id="selector_courses" class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <a id="add_course" class="btn btn-success btn-circle left-text">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                            </div>
                        </div>
                        <table class="table">
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="col-md-6 error-text"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input class="btn btn-success round right-text" id="edit_user" type="button" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block css %}
    <link href="{% static "user_manager/css/edit_user.css" %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static "user_manager/js/edit_user.js" %}"></script>
{% endblock %}