{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="row">
        <div class="col-md-5">
            <form class="form-inline left-text" method="GET">
                <a class="btn btn-danger btn-circle"  href="{% url 'create_user' %}">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
                <button class="btn btn-success btn-circle search-input-icon">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
                <input id="search-input" class="form-control round search-input" type="text" name="search" value="{{ search }}">
            </form>
        </div>
        <div class="col-md-2">
            <h2>USERS</h2>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-1">
            <select class="form-control input-sm round " id="row_count">
                <option {% if row_count == '10' %} selected {% endif %} value="10">10</option>
                <option {% if row_count == '15' %} selected {% endif %} value="15">15</option>
                <option {% if row_count == '20' %} selected {% endif %} value="20">20</option>
            </select>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
        <tr class="text-left">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if user.status %}
                    <span class="green">Active</span>
                {% else %}
                    <span class="red">Inactive</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'edit_user' user.id %}">
                    <i class="glyphicon glyphicon-pencil"></i></a>
                <a  href="{% url 'delete_user' user.id %}">
                    <i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if paginator.has_next %}
        <ul class="pagination">
        {% if paginator.has_previous %}
            <li><a href="?page={{ paginator.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">
                <i class="glyphicon glyphicon-menu-left"></i></a></li>
        {% else %}
            <li class="disabled"><a><i class="glyphicon glyphicon-menu-left"></i></a></li>
        {% endif %}
        {% for i in paginator.page_range %}
            <li {% if paginator.current_page == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
        {% endfor %}
        {% if paginator.has_next %}
            <li><a href="?page={{ paginator.next_page_number }}{% if search %}&search={{ search }}{% endif %}">
                <i class="glyphicon glyphicon-menu-right"></i></a></li>
        {% else %}
            <li class="disabled"><a><i class="glyphicon glyphicon-menu-right"></i></a></li>
        {% endif %}
        </ul>
    {% endif %}
{% endblock %}

{% block css %}
    <link href="{% static "user_manager/css/user_list.css" %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static "user_manager/js/user_list.js" %}"></script>
{% endblock %}