body {
    padding-top: 50px;
    background-color: #F1F1F1;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-col{
    background-color: #2F303F;
    border-color: #2F303F;
}
.navbar-col .navbar-brand {
    color: #FFFFFF;
}
.round {
    border-radius: 20px;
}
.left-text {
    float: left;
}
.right-text {
    float: right;
}
.btn-message {
    color: #64BF7C;
    border-color: #64BF7C;
}
.btn-circle {
  width: 40px;
  height: 40px;
  line-height: 40px; /* adjust line height to align vertically*/
  padding:0;
  border-radius: 50%;
}
.error {
    color: red;
    float: left;
}
.red {
    color: red;
}
.green {
    color: #64BF7C;
}
.white {
    color: white;
}
li a {
    color: white;
}