.form-group label{
    float: left;
}
table {
    margin-top: 20px;
}
.form-control[readonly] {
    background-color: #575761;
    color: white;
}
.btn-submit {
    padding-left: 25px;
    padding-right: 25px;
}
.edit_user lable {
    margin-top: 10px;
}
.error-text {
    padding-top: 33px;
}