table {
    background-color: #FFFFFF;
    margin-top: 30px;
}
table tr:first-child {
    background-color: #575761;
}
h2 {
    margin-top: 0px;
}
.search-input {
   padding-left: 25px;
}
.search-input-icon {
    margin-right: -25px;
    position: relative;
}
.disabled>a {
    background-color: #ddd !important;
    color: white !important;
}
.pagination>li>a, .pagination>li>span {
    border-radius: 50% !important;
    margin: 0 5px;
    color: #ddd;
}
.pagination>li>a, .pagination>li>span {
    border-radius: 50% !important;
    margin: 0 5px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    background-color: #64BF7C;
    line-height: 25px;
    color: white;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    background-color: #64BF7C;
    line-height: 25px;
    color: white;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #64BF7C;
    cursor: default;
    background-color: white;
    border-color: #ddd;;
}
