<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>vFob</title>
    {% block base_css %}
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "user_manager/css/base.css" %}" rel="stylesheet">
    {% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-col navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'user_list' %}">Test to you</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'user_list' %}">Users</a></li>
                <li><a href="{% url 'courses' %}">Courses</a></li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="container">
        <div class="starter-template">
        {% block content %}{% endblock %}
        </div>
    </div>
    {% block base_js %}
        <script src="{% static "jquery/jquery-3.1.0.min.js" %}"></script>
        <script src="{% static "jquery/jquery.cookie.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "user_manager/js/base.js" %}"></script>
    {% endblock %}
    {% block js %}{% endblock %}
</body>
</html>
